<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: red;
        }
        p {
            color: gray;
        }
        a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>403 Forbidden</h1>
<p>You don't have permission to access this page.</p>
<a th:href="@{/}">Go To Homepage</a>
</body>
</html>