<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration Success</title>
</head>
<body>
<h1>Registration Success</h1>
<p th:text="${message}"></p>
<button onclick="window.location.href='/list'">Go to 'User List' to edit users</button>
<button onclick="window.location.href='/register'">Register another user</button>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form> <!-- Close the form here -->
</body>
</html>

