<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/> <!-- Link to your CSS if needed -->
</head>
<body>
<div class="container">
    <h2>Register</h2>

    <!-- Display general error message if it exists -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Registration form -->
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" th:field="*{username}" placeholder="Enter username" required
                   title="Username must be at least one character"
                   pattern=".{1,}" oninvalid="setCustomValidity('Username must be at least one character')"
                   onchange="try{setCustomValidity('')}catch(e){}"/>
            <!-- Error message for username -->
            <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" th:errors="*{username}"></div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Enter password" required
                   title="Password must be at least 6 characters long"
                   pattern=".{3,}" oninvalid="setCustomValidity('Password must be at least 6 characters long')"
                   onchange="try{setCustomValidity('')}catch(e){}"/>
            <!-- Error message for password -->
            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" th:field="*{email}" placeholder="Enter email" required/>
            <!-- Error message for email -->
            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></div>
        </div>

        <!-- CSRF token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>
